body {
   font-family: ‘Lucida Console’, Monaco, monospace;
   font-size: 1.8em;
}

#game {
   width: 500px;
   height: 500px;
   margin: auto;
}

#reset {
   position: absolute;
   top: 10px;
   left: 10px;
   font-family: ‘Lucida Console’, Monaco, monospace;
   padding: 10px;
   border: 2px solid #6996AD;
   border-radius: 10px;
   color: #6996AD;
   background: #fff;
   cursor: pointer;
}

.item {
   display: inline-block;
   cursor: pointer;
   position: relative;
   margin-bottom: -1%;
   perspective: 1000; 
}

/* Flip animation for cards as used by http://davidwalsh.name/css-flip */
.item-inner {
   position: absolute;
   top: 2%;
   right: 2%;
   bottom: 2%;
   left: 2%;
   border: 2px solid #507786;
   border-radius: 10px;
   transition: 0.8s;
   transform-style: preserve-3d;
   -webkit-transition: 0.8s;
   -webkit-transform-style: preserve-3d;
}

.front:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
} 

.front, .back {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   backface-visiblity: hidden;
   -webkit-backface-visibility: hidden;
}

.selected .item-inner, .correct .item-inner {
   transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
}
.selected .item-inner .front {
   z-index: 2;
}
.front {
   background: #fff;
   transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
   color: #4A708B;
}

.back {
   z-index: 2;
   background-color: #6996AD;
   background-image: linear-gradient(transparent 50%, #507786 50%);
   background-size: 50px 50px;
}

.results {
   text-align: center;
   color: #6996AD;
   font-weight: bold;
   padding: 15px 0;
}
